<div class="container-fluid">
<div class="row-fluid">
<div class="span3">
<div class="well sidebar-nav">
<ul class="nav nav-list">
<li align="center">
    <div class="input-prepend input-append datenavbar">
        <div class="btn-group">
            <button class="btn">
                <i class="icon-backward"> </i>
            </button>
            <ul class="dropdown-menu">
            </ul>
        </div>
        <input class="span5" id="appendedPrependedDropdownButton" value="01/04/2013" type="text">

        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="datepicker">
                <i class="icon-calendar"></i>
            </button>
            <ul class="dropdown-menu">
                Calendrier jQuery qui tue!
            </ul>
            <button class="btn">
                <i class="icon-forward"></i>
            </button>
        </div>
    </div>
</li>

<li class="nav-header"><msg key="main_IwishToGoOut"/></li>
<table class="table leftTable">
<tbody>
<tr>
    <th class="weekday passed ">
        Mon 01
    </th>

    <th class="weekday passed ">
        Tue 02
    </th>

    <th class="weekday passed ">
        Wed 03
    </th>

    <th class="weekday passed ">
        Thu 04
    </th>

</tr>
<tr>
    <td class="passed">

        <button type="button" class="btn" bs-popover="'views/partials/popoverAvailability.html'"><img src="img/sun.png" width="15px"></button>

        <br>
        <a class="btn" id="Day1Moon" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/moon.png" width="15px">
        </a>
    </td>
    <td class="passed">
        <a class="btn" id="Day2Sun" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/sun.png" width="15px">
        </a>

        <br>
        <a class="btn" id="Day2Moon" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/moon.png" width="15px">
        </a>
    </td>
    <td class="passed">
        <a class="btn" id="Day3Sun" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/sun.png" width="15px">
        </a>
        <br>
        <a class="btn" id="Day3Moon" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/moon.png" width="15px">
        </a>
    </td>
    <td class="passed">
        <a class="btn" id="Day4Sun" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/sun.png" width="15px">
        </a>
        <br>
        <a class="btn" id="Day4Moon" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/moon.png" width="15px">
        </a>
    </td>
</tr>
<tr>

    <th class="weekday passed ">
        Fri 05
    </th>

    <th class="today">
        Sat 06
    </th>

    <th class="weekend ">
        Sun 07
    </th>

    <th class="weekday ">
        Mon 08
    </th>
</tr>
<tr>
    <td class="passed">
        <a class="btn" id="Day5Sun" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/sun.png" width="15px">
        </a>
        <br>
        <a class="btn" id="Day5Moon" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/moon.png" width="15px">
        </a>
    </td>
    <td class="today">
        <a class="btn" id="Day6Sun" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/sun.png" width="15px">
        </a>
        <br>
        <a class="btn" id="Day6Moon" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/moon.png" width="15px">
        </a>
    </td>
    <td>
        <a class="btn" id="Day7Sun" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/sun.png" width="15px">
        </a>
        <br>
        <a class="btn" id="Day7Moon" data-toggle="popover" data-placement="right" data-html="true" data-content="
                    <div class='btn-group'>
                      <a class='btn dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)''>All propositions<span class='caret'></span></a>
                      <ul class='dropdown-menu'>
                        <li> <a href=''>  <img src='img/pub.png' width='15px'> Bar </a> </li>
                        <li> <a href=''> <img src='img/restaurant.png' width='15px'> Restaurant </a> </li>
                        <li> <a href=''> <img src='img/sport.png' width='15px'> Sport </a> </li>
                       <li> <a href=''> <img src='img/theater.png' width='15px'> Cultural </a> </li>
                        <li> <a href=''> <img src='img/night_life.png' width='15px'> Going out </a> </li>
                      </ul>
                    </div>
                  </br>
                    <label>Comment :</label>
                    <textarea rows='2'></textarea>
                    " title="" data-original-title="Interested in :"> <img src="img/moon.png" width="15px">
        </a>
    </td>
    <td></td>
</tr>

</tbody>
</table>
<li class="nav-header"><msg key="main_activitiesToConfirm"/></li>
<div  class="media event" ng-repeat="activity in myActivities">
    <div ng-show="activity.status=='toConfirm'" class="media-body">
        <h5 class="media-heading">Whisky découverte</h5>
        <a class="pull-left" href="javascript:void(0)">
            <img class="thumb" src="img/other.png">
        </a>
        <div class="description">
            20:00</br>
            François Depelchin
        </div>
    </div>
</div>

</ul>
</div>
<!--/.well -->
</div>
<!--/span-->
<div class="span9">
    <div style="display:none" class="hero-unit">
        <h3><msg key="main_friendsWillingToGoOut"/></h3>

        <p>No user have share his wishes with you this week. Invite your friends to use the application and see at any
            time when they feel like going out with you !</p>

        <p><a href="javascript:void(0)" class="btn btn-primary btn-large">Share application</a></p>
    </div>

    <div class="hero-unit">
        <h3><msg key="main_friendsWillingToGoOut"/></h3>
        <table class="table">
            <tbody>
            <tr>

                <th class="weekday passed ">
                    Mon 01
                </th>

                <th class="weekday passed ">
                    Tue 02
                </th>

                <th class="weekday passed ">
                    Wed 03
                </th>

                <th class="weekday passed ">
                    Thu 04
                </th>

                <th class="weekday passed ">
                    Fri 05
                </th>

                <th class="today">
                    Sat 06
                </th>

                <th class="weekend ">
                    Sun 07
                </th>
            </tr>
            <tr>
                <td class="passed">
                </td>
                <td class="passed">
                </td>
                <td class="passed">
                    <div class="friend">
                        <div class="thumbnail"
                             style="background-image: url('https://graph.facebook.com/1256508253/picture')">
                            <a class="btn iconmoonfriend" id="Day16Sun" data-toggle="popover" data-placement="right"
                               data-html="true" data-content="
                                                              <div class='btn-group'>
                                                                  <img src='img/pub.png' width='20px'>
                                                                  <img src='img/restaurant.png' width='20px'>
                                                                  <img src='img/night_life.png' width='20px'>
                                                              </div>
                                                              <div style='font-size:14px'>
                                                              <b>Comment :</b> Marie bosse quelqu'un pour une soirée mémorable?
                                                              </div>
                                                              " title="" data-original-title="Interested in :"> <img
                                    style="position: relative;" width="14px" src="img/moon_status.png">
                            </a>
                        </div>
                        <div class="name">
                            François Fagnoule
                        </div>
                    </div>

                    <div class="friend">
                        <div class="thumbnail"
                             style="background-image: url('https://graph.facebook.com/743592397/picture')">
                            <button style="position: relative;padding:1px; left: 16px;opacity:0.8" width="14px"><img
                                    style="position: relative;" width="14px" src="img/moon_status.png">
                            </button>
                        </div>
                        <div class="name">
                            Yves Hulet
                        </div>
                    </div>
                </td>
                <td class="passed">
                    <div class="friend">
                        <div class="thumbnail"
                             style="background-image: url('https://graph.facebook.com/743592397/picture')">
                            <button style="position: relative;padding:1px;  left: -3px;opacity:0.8" width="14px"><img
                                    style="position: relative;" width="15px" src="img/sun_status.png">
                            </button>
                            <button style="position: relative;padding:1px; left: 2px;opacity:0.8" width="14px"><img
                                    style="position: relative;" width="14px" src="img/moon_status.png">
                            </button>
                        </div>
                        <div class="name">
                            Yves Hulet
                        </div>
                    </div>
                </td>
                <td class="passed">
                </td>
                <td class="today">

                </td>
                <td>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="hero-unit">
        <h3><msg key="main_ourActivities"/></h3>
        <table class="table">
            <tbody>
            <tr>

                <th class="weekday passed ">
                    Mon 01
                </th>

                <th class="weekday passed ">
                    Tue 02
                </th>

                <th class="weekday passed ">
                    Wed 03
                </th>

                <th class="weekday passed ">
                    Thu 04
                </th>

                <th class="weekday passed ">
                    Fri 05
                </th>

                <th class="today">
                    Sat 06
                </th>

                <th class="weekend ">
                    Sun 07
                </th>
            </tr>
            <tr>
                <td class="passed">
                </td>
                <td class="passed">
                </td>
                <td class="passed">
                    <div class="media event">

                        <div class="media-body">
                            <h5 class="media-heading">Togeez night</h5>
                            <a class="pull-left" href="javascript:void(0)">
                                <img class="thumb" src="img/other.png">
                            </a>

                            <div class="description">
                                20:00</br>
                                François Depelchin
                            </div>
                        </div>
                    </div>

                </td>
                <td class="passed">
                </td>
                <td class="passed">
                    <p><a href="javascript:void(0)" class="btn btn-primary btn-large">Plan</a></p>

                    <div class="media event">
                        <div class="media-body">
                            <h5 class="media-heading">Whisky découverte</h5>
                            <a class="pull-left" href="javascript:void(0)">
                                <img class="thumb" src="img/other.png">
                            </a>

                            <div class="description">
                                20:00</br>
                                François Depelchin
                            </div>
                        </div>
                    </div>
                </td>
                <td class="today">
                    <p><a href="javascript:void(0)" class="btn btn-primary btn-large">Plan</a></p>
                </td>
                <td>
                    <p><a href="javascript:void(0)" class="btn btn-primary btn-large">Plan</a></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!--/span-->
</div>
<!--/row-->


</div>
<!--/.fluid-container-->

<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>
    $(function () {
    $("#Day1Sun").popover();
    $("#Day2Sun").popover();
    $("#Day3Sun").popover();
    $("#Day4Sun").popover();
    $("#Day5Sun").popover();
    $("#Day6Sun").popover();
    $("#Day16Sun").popover();
    $("#Day7Sun").popover();
    $("#Day1Moon").popover();
    $("#Day2Moon").popover();
    $("#Day3Moon").popover();
    $("#Day4Moon").popover();
    $("#Day5Moon").popover();
    $("#Day6Moon").popover();
    $("#Day7Moon").popover();
    $("availableDay0304user1").popover();
    });
</script>